# IntelliJ IDEA
.idea
*.iml

# Eclipse
.classpath
.project
.settings
bin

# OS X
.DS_Store

# Emacs
*~
\#*\#

# Vim
.swp

#VScode
.vscode/

# Other
TAGS

# nodejs
node_modules/
npm-debug.log
.nyc_output/
build/

#backup files
*--
*_backup

#log files
*.log



