---
release_tags: &release_tags
  tags:
    only: /^v\d+(\.\d+){2}(-.*)?$/

test_env: &test_env
  OPENCENSUS_MONGODB_TESTS: 1

# "Include" for unit tests definition.
unit_tests: &unit_tests
  steps:
    - checkout
    - run:
        name: Install modules and dependencies.
        command: npm install
    - run:
        name: Run unit tests.
        command: npm run test

mongo_service: &mongo_service
  image: mongo

version: 2.0
workflows:
  version: 2
  tests:
    jobs:
      - node6:
          filters: *release_tags
      - node8:
          filters: *release_tags
      - node10:
          filters: *release_tags
      - publish_npm:
          requires:
            - node6
            - node8
            - node10
          filters:
            branches:
              ignore: /.*/
            <<: *release_tags

jobs:
  node6:
    docker:
      - image: node:6
        user: node
        environment: *test_env
      - *mongo_service
    <<: *unit_tests
  node8:
    docker:
      - image: node:8
        user: node
        environment: *test_env
      - *mongo_service
    <<: *unit_tests
  node10:
    docker:
      - image: node:10
        user: node
        environment: *test_env
      - *mongo_service
    <<: *unit_tests
  publish_npm:
    docker:
      - image: node:8
        user: node
    steps:
      - checkout
      - run:
          name: Set NPM authentication.
          command: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
      - run:
          name: Install modules and dependencies.
          command: npm install
      - run:
          name: Publish the module to npm.
          command: npm publish